
html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    padding-bottom: 5em;
    font-size: 1.6em;
}

ol, ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

header {
    display: flex;
    align-items: center;
    background: #205081;
    font-family:  Arial,sans-serif;
}

header > * {
    font-size: 1.5em;
    display: inline-block;
    margin: 10px;
    color: #fff;
}

main {
  margin: 1em 1.5em 3em 1.5em;
}
